
@media(max-width: 960px){
 
    body{
       margin: 0;
       padding: 0;
       width: 100%;
   } 
   
   
   }
   
   @media(min-width: 961px){
   body{
       width: 960px;
       margin-left: auto;
       margin-right: auto;
   }
   
   
   }