@media(max-width: 480px){
    *{
        text-align: center;
        border: 2px solid white;
    }

#a{
    width: 100%;
    height: 75px;
    line-height: 75px;
    box-sizing: border-box;
    background-color:  lightcyan;

} 
#b{
    width: 100%;
    height: 150px;
   line-height: 150px;
   box-sizing: border-box;
   background-color: lightgray;
}
#c{
    width: 100%;
    height: 125px;
   line-height: 125px;
   box-sizing: border-box;
   background-color:lightpink;
}
#d{
    width: 100%;
    height: 125px;
   line-height: 125px;
   box-sizing: border-box;
   background-color: lightgreen;
}


#e{
     
    float: left;
    width: 50%;
    height: 250px;
    line-height: 250px;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: rgb(102, 176, 255);
   

}
#f{
    
    float: left;
    width: 50%;
    height: 250px;
    line-height: 250px;
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: rgb(169, 203, 240);
    

}

#g{
    
    float: left;
    width: 50%;
    height: 250px;
    line-height: 250px;
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: rgb(14, 16, 19);
   
}
#h{
  
    height: 250px;
    float: left;
    width: 50%;
    line-height: 250px;
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: rgb(250, 192, 158);
}

div#i{
   display: inline-block;
   width: 100%;   
   line-height: 80px;
   box-sizing: border-box;
   border-collapse: collapse;
   background-color: lightblue;
   
}}